.cont {
    /*border: 4px solid red;*/
}

.title {
    font-weight: bold;
    font-size: 3em;
    padding-left: 50px;
}

.row-dealer,
.row-player,
.row-buttons {
    /*border: 4px solid blue;*/
    display: flex;
    justify-content: center;
}

.row-dealer,
.row-buttons {
    margin-top: 20px;
}

.hand {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 20px 30px 20px 30px;
}

.card {
    /*border: 4px solid green;*/
    height: 120px;
    width: 90px;
    margin-right: 30px;
}
.labels,
.points{
    font-size: 1.5em !important;
    font-weight: bold !important;
}


#dealer-hand img {
    height: 120px;
}
